input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sections {
    display: none;
    border: 1px dashed #999;
    padding: 1em 1em 0 1em;
    margin: 1em 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
h3.card-title {
    font-weight: bold;
}
#p-gidr-slider .noUi-touch-area {
    background: #2980b9;
}
#p-gidr-slider {
    margin-top: 10px;
}
