version: "3.5"

services:
    django:
        build:
            dockerfile: etc/django.Dockerfile
            context: .
        command: bash -c "while true; do echo 'I am alive!'; sleep 3600; done"
        ports:
            - 8000:8000
        environment:
            - C_FORCE_ROOT=true
        links:
            - postgres:postgres.local
        volumes:
            - .:/webapp
            - ./media:/media
    postgres:
        image: postgres:13
        ports:
            - 5432:5432
        environment:
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_USER=postgres
        volumes:
            - postgres-volume:/var/lib/postgresql/data
    redis:
        image: redis:6.2.4-alpine
        volumes:
            - redis-volume:/data
volumes:
    postgres-volume:
    redis-volume:
    media:
