{% load static %}
<header>
  <div class="d-flex flex-wrap align-items-center justify-content-center" style="height: 100%;">
    <a href="https://sa-biysk.ru/" class="d-flex align-items-center me-lg-auto">
      <img src="{% static 'images/logo.svg' %}" role="img" aria-label="Спецавтоматика" class="logo" />
    </a>
    <div class="d-none d-sm-block me-4">
      <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="tel:8-800-2008-208" class="nav-link text-white">8-800-2008-208</a>
        </li>
      </ul>
    </div>
  </div>
</header>